@import 'css-reset.css';

body {
    font-family: 'Poppins', sans-serif;
}

/* nav styling */
.topnav {
    background-color: #3a3633;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.mobile-nav{
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #3a3633;
    width: 100%;
}

.mobile-nav-item{
    text-decoration: none;
    text-align: center;
    padding: 8px;
    color: white;
    width: 100%;
}

.mobile-nav-item:hover {
    background-color: #524f4f;
}


.hamburger:hover .mobile-nav {
    display: flex;
}

.topnav:hover .mobile-nav{
    display: flex;
}
.mobile-nav:hover{
    display: flex;
}

.nav-links {
    justify-content: flex-end;
    position: absolute;
    right: 0px;
}

span .navitem {
    margin-left: 35px;
    margin-right: 15px;
}

.navitem {
    color: white;
    text-decoration: none;
}

.logo {
    display: block;
    max-height: 2.5em;
    max-width: auto;
    margin-left: 15px;
}

.nav-links {
    height: 100%;
    display: flex;
    align-items: center;
}

.hamburger{
    display: none;
}

/* animation for .nav-links */

span .navitem {
    position: relative;
    height: 100%;
}

span .navitem::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s linear;
}

span .navitem:hover::before {
    visibility: visible;
    transform: scaleX(1);
}


/* styling home */

.home-container {
    position: relative;
    min-height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    color: white;
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    border: solid white 4px;
    min-height: calc(50vh - 40px);
}

.falcon {
    flex: 1;
    font-size: 4em;
    line-height: 1.5;
    padding: 15px;
    font-weight: bolder;
    align-self: center;
}

.dream-div{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-bottom: dotted rgba(255, 255, 255, 0.733) 3px;
    margin: 15px;
}

.text-home {
    flex: 2;
    background-color: gray;
    opacity: 48%;
    display: flex;
    flex-direction: column;
}

.text-container {
    display: flex;
    flex: 1;
    margin-left: 20px;
}

.dreams {
    height: 3em;
    font-size: 2.5em;
    font-weight: bolder;
    flex: 1;
    margin-left: 20px;
}

.col-2 {
    margin-left: 15px;
}

/* Styling features */

.features-container{
    margin: 55px;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 35px;
    max-width: 250px;
    box-shadow: 0.5px 0.5px 2px 2px rgb(214, 218, 221);
}

.feature-item > img {
    height: 40px;
    width: auto;
    padding: 10px;
}

.feature-item > h3 {
    margin: 15px;
    font-weight: bolder;
    font-size: 1.10em;
}

.feature-item > p {
    margin: 15px;
    font-weight: lighter;
}

.feature-link {
    width: 85%;
    text-align: center;
    background-color: #3a3633;
    border-radius: 4px;
    padding: 7px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.feature-link:hover{
    cursor: pointer;
    border: solid 1px goldenrod;
}

.feature-link > a {
    text-decoration: none;
    color: white;
}

/* styling Cool Slick */
.cool-slick-container {
    display: flex;
    flex-direction: column;
    height: 75vh;
    position: relative;
}

.cool-text {
    flex: 1;
    background-color: #3a3633;
    color: white;
    padding: 45px;
}

.cool-text > h1 {
    font-size: 3em;
    font-weight: bolder;
}

.cool-text > p {
    margin-top: 35px;
    font-size: 1.5em;
}

.slick-gradient {
    flex: 1;
    text-align: end;
    background: linear-gradient(90deg, rgba(255,255,255,1), rgba(22,62,113,1));
    padding: 45px;
}

.slick-gradient > h1 {
    color: white;
    font-size: 3em;
    font-weight: bolder;
}

.slick-gradient > p {
    color: white;
    font-size: 1.3em;
    margin-top: 35px;
}

.this-looks-cool {
    color: white;
    border: solid whitesmoke 5px;
    background-color:  #3a3633;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    height: 120px;
}

.this-looks-cool > h2 {
    color: red;
    margin: 15px;
}

/* we need some animation here */
.this-looks-cool > p {

}

/* styling pictures */

.line{
    width: 100%;
    display: flex;
}

.line > img {
    width: calc(100%/3);
}

/* mailing list */
.mailing-container {
    margin: 70px auto;
}

.mailing-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mailing-list > label {
    text-align: center;
    margin: 10px;
}

.input {
    display: flex;
    margin: 10px;
}

.input > button:hover {
    cursor: pointer;
}

.mailing-list > input button {
    
}

.send {
    background-color: #3a3633;
    display: inline-block;
    border: none;
    padding: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.send-cat {
    text-align: center;
    margin: 10px;
}

/* footer */
.footer {
    margin: 70px auto;
    display: flex;
    justify-content: space-around;
    line-height: 3;
}

/* mobile */

/* Nav */

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .topnav {
        display: flex;
        justify-content: space-between;
    }
    
    .hamburger{
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
        height: 100%;
    }

    .hamburger:hover{
        cursor: pointer;
    }
    .hamburger:hover .mobile-nav{
        display: flex;
    }
/* home */
    .home-container{
        height: 100%;
    }
    
    .home {
        border: none;
        margin: 0;
        width: 100vw;
        display: block;
    }

    .falcon {
        margin-left: 15px;
        margin-bottom: 20px;
        font-size: 2em;
        display: block;
    }
    .text-home {
        
        margin: 0;
    }
    .dream-div{
        display: block;
        margin: 0;
        border-bottom: none;
        font-size: .5em;
        margin-top: 15px;
    }
    .text-container {
        display: block;
        margin-right: 15px;
    }
    .col-2{
        margin-left: 0;
        margin-top: 15px;
    }
    /* feature section */
    .feature-item{
        padding: 25px;
    }
    /* cool slick section */
    .this-looks-cool{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 180px;
        height: 90px;
    }
    .this-looks-cool > h2{
        margin: 10px;
    }
    .cool-text{
        padding: 20px;
    }
    .cool-text > h1 {
        font-size: 2em;
    }
    .cool-text > p {
        font-size: 1em;
    }
    .slick-gradient{
        /* padding: 20px;
        padding-top: 25%; */
    }
    .slick-gradient > h1 {
        font-size: 2em;
        padding-right: 20px;
        padding-top: 50px;
    }
    .slick-gradient > p {
        font-size: 1em;
        padding-right: 20px;
    }
    /* image section */
    .line{
        flex-wrap: wrap;
    }
    .line > img {
        margin: 0 ;
        width: 100%;
    }
}

@media (max-width: 1080px) {
    .home{
        margin-left: 10%;
        margin-right: 10%;
    }
    .falcon {
        font-size: 3em;
    }
    .dreams{
        font-size: 2em;
    }
}